<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Electro - HTML Ecommerce Template</title>

	@await Html.PartialAsync("_MainCss")

</head>
<body>
	<!-- HEADER -->
	@await Html.PartialAsync("_Header")
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	@await Html.PartialAsync("_Navigation")
	<!-- /NAVIGATION -->
	<!-- BREADCRUMB -->
	@await Html.PartialAsync("_BreadCrumb")
	<!-- /BREADCRUMB -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				@RenderBody()
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<!-- NEWSLETTER -->
	@await Html.PartialAsync("_Newsletter")
	<!-- /NEWSLETTER -->
	<!-- FOOTER -->
	@await Html.PartialAsync("_Footer")
	<!-- /FOOTER -->
	@await Html.PartialAsync("_MainJS")
	@RenderSection("Scripts", false)
</body>
</html>
