@model CategoryViewModel
@{
    Layout = "_LayoutBox";
    ViewBag.BoxTitle = "Kategori";
}

<div class="row">
    <div class="col">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Kategori Ekle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name" class="col-sm-2 col-form-label">@Html.DisplayNameFor(m => m.Name)</label>
                        <input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Name)" />
                        <span asp-validation-for="Name" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-sm-2 col-form-label">@Html.DisplayNameFor(m => m.Description)</label>
                        <input asp-for="Description" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Description)" />
                        <span asp-validation-for="Description" class="form-text text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
