@model CategoryViewModel
@{
    Layout = "_LayoutBox";
    ViewBag.BoxTitle = "Kategori";
}
<div class="row">
    <div class="col">
        <div class="card card-primary">
            <h5 class="card-header">@Model.Name</h5>
            <div class="card-body">
                <p class="card-text">@Model.Description</p>
                <!--
                    TODO: Bu kategoriye ait ürünlerin listesi olabilir. bir düşünmek lazım
                -->
            </div>
            <div class="card-footer">
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Düzenle</a>
                <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Geri</a>
            </div>
        </div>
    </div>
</div>